App_Start/
App_Data/
aspnet_client/
bin/
images/
obj/
Properties/
Scripts/
Test/
UploadFile/

Global.asax
Global.asax.cs
packages.config
Web.config
Web.Debug.config
Web.Release.config
基于云的Web管理系统.csproj
基于云的Web管理系统.csproj.user
