body {
    /*padding-top: 50px;*/
    height: 800px;
}

.header {
    float: right;
}

.jumbotron h1 {
    text-align: center;
}

.jumbotron p {
    text-align: center;
}

.mybodyfooter {
    text-align: center;
    margin-bottom: 0px;
}

.myleftmenu {
    height: 400px;
    font-size: large;
}

.myleftmenu-head {
    width: 100%;
    color: white;
    background-color: #CCCCCC;
}

.myleftmenu-head {
    color: white;
    background-color: #333333;
    height: 400px;
    font-size: large;
    padding-right: 10px;
}

.myinfo {
    border-style: solid;
    border-width: 2px;
    border-color: #99CCFF;
    border-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    /*background-color:rgba(0,0,0,.1);*/
}

.mylabel {
    font-size: 25px;
    /*color: #66CCCC;*/
    color: #990066;
}

.successMsg {
    color: green;
    font-size: large;
}

.errorMsg {
    color: red;
    font-size: large;
}

.myinfo-first {
    font-size: large;
    text-align: center;
}

.myhr {
    width: 90%;
    text-align: center;
    color: #336699;
}

.myinfo-second {
    margin-left: 5%;
    margin-right:5%;
    /*border-style:solid;*/
}

.myshowSet {
    margin-right: 3%;
    float: right;
}

.myinfo-tip {
    /*color: #CCCC99;*/
    font-weight: 500;
    font-size: 23px;
}

.mya {
    font-size: large;
}

.userInfo-null {
    text-align: center;
    color: #FF9999;
}

.myinfo-hide-textbox {
}

.myhidedisplay {
    display: none;
}

.myshowdisplay {
    display: inline;
}

.myinput {
    width: 220px;
    height: 30px;
    margin-top: 0px;
    padding: 0 15px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(45,45,45,.15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #3d3d3d; /* browsers that don't support rgba */
    border: 1px solid rgba(255,255,255,.15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.myEditBtn {
    background-color: #99CCFF;
    border-radius: 6px;
}

.myEditBtnhover {
    background-color: #CC9999;
}

.mybutton {
    width: 50px;
    height: 30px;
    border-radius: 6px;
    background-color: #99FFCC;
}

.mybuttonhover {
    background-color: #CC9999;
}



/*##################### 2016-04-16 之后修改 ##########################*/
.UpdateLink {
    text-align: center;
    background-color: #CCFFcc;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 6px;
    height: 30px;
}


.s12312 .UpdateLink :hover {
    /*background-color:#CCFFFF;*/
    border-radius: 6px;
    height: 30px;
    /*border-style:solid;*/
    border-color: #FFFFCC;
    border-width: 2px;
    cursor: pointer;
}

.UpdateLink .UpdateLink_Btn {
    /*border-style: solid;
        border-color: blue;
        border-width: 1px;*/
    font-size: 20px;
}

.UpdateLink_Btn:hover {
    cursor: pointer;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    height:inherit;
}



.UpdateLink .SaveLink_Btn {
    font-size: 20px;
}
#Save_Btn:hover, #Cancel_Btn:hover {
    cursor: pointer;
    border-radius: 6px;
    border-color: #FFFFCC;
    border-style: solid;
    border-width: 1px;
    height:inherit;
}

    .UpdateLink .SaveLink_Btn #Cancel_Btn, .UpdateLink .SaveLink_Btn #Save_Btn {
        background-color: #99CCFF;
        border-style: solid;
        border-radius: 6px;
        border-width: 1px;
        height: 100%;
    }

.panel_myInfo {
    background-image: url(/MyContent/images/footBG.jpg);
    background-size:auto;
}

/*########【可以编辑的文本框的样式】########*/
.CanEditInput {
    border:none;
    background-color:transparent;
}

.CandEditInput_Back {/*恢复初始状态*/
    border-style:solid;
    border-width:1px;
    border-color:gray;
    border-radius:6px;
    padding-left:5px;

    /*设置阴影效果*/
    border-top-width:3px;
    border-right-width:3px;
    border-top-color:gray;
    border-right-color:gray;
}

.CanEditTrip {
    display:none;
    color:#00FFFF;
}

/*************【不可编辑的文本框样式】********************/
.CanNotEditInput {
    border:none;
    background-color:transparent;
}


/********【验证码DIV】********/
.myCheckCodeDIV {
    display:none;
}


/*************【性别的checkbox】***************/
.radio_gender:hover {
    cursor:pointer;
}


/************【邮箱修改的编辑按钮样式】*******************/
.EmailUpdate_Edit {
    color:#FFCC99;
    border-style:solid;
    border-color:#990066;
    border-width:1px;
    border-radius:6px;

    border-bottom-width:3px;
    border-left-width:3px;
    padding:2px;
    background-color:white;
}
.EmailUpdate_Edit:hover {
    cursor:pointer;
    color:#99CCFF;
    font-size:25px;
}


/*##################### 2016-04-16 之后修改 ##########################*/
