@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/MyContent/images/ic_launcher.png" rel="shortcut icon" />
    <title>页面出错了</title>
</head>
<body>
    <div style="padding:0px;">
        <img src="~/MyContent/images/404.gif" width="100%"/>
    </div>
</body>
</html>
